<br />
<div class="container">
  <div class="card">
    <div class="card text-white card-header bg-secondary mb-3">
      Déclarer un problème
    </div>
    <div class="card-body">
      <h5 class="card-title">Veuillez renseigner les zones suivante et soumettre votre demande</h5>
      <div class="card-text"></div>
      <form class="form-horizontal"
      novalidate
      (ngSubmit)="save()"
      [formGroup]="problemeForm">
        <div class="form-group row">
          <label for="prenomId" class="col-md-2 col-form-label text-right">Prénom: </label>
          <div class="col-md-10">
            <input type="form-control"
            class="form-control"
            id="prenomId"
            type="text"
            placeholder="Prénom (obligatoire)"
            formControlName="prenom" 
            [ngClass]="{'is-invalid':(problemeForm.get('prenom').touched ||
            problemeForm.get('prenom').dirty) && problemeForm.get('prenom').errors,
            'is-valid': (problemeForm.get('prenom').touched ||
            problemeForm.get('prenom').dirty) &&
            !problemeForm.get('prenom').errors}"
            />
            <span class="form-text" *ngIf="(problemeForm.get('prenom').touched || 
                  problemeForm.get('prenom').dirty) &&
                  problemeForm.get('prenom').errors">
              <span *ngIf="!problemeForm.get('prenom').errors.sansEsapaces">
                <small class="text-muted">
                  Merci de saisir votre prénom.
                </small>
              </span>
              <span *ngIf="!problemeForm.get('prenom').errors.longueurMinimum">
                <small class="text-muted">
                  Veuillez entrer plus de caractères.
                </small>
              </span>
            </span>
          </div>
          
        </div>

        <div class="form-group row">
          <label for="nomId" class="col-md-2 col-form-label text-right">Nom: </label>
          <div class="col-md-10">
            <input type="form-control"
            class="form-control"
            id="nomId"
            type="text"
            placeholder="Nom (obligatoire)"
            formControlName="nom" 
            [ngClass]="{'is-invalid':(problemeForm.get('nom').touched ||
            problemeForm.get('nom').dirty) && problemeForm.get('nom').errors,
            'is-valid': (problemeForm.get('nom').touched ||
            problemeForm.get('nom').dirty) && !problemeForm.get('nom').errors }"
            />
            <!-- &&(
              !problemeForm.get('nom').errors.sansEspaces ||
              !problemeForm.get('nom').errors.longueurMinimum) -->
              <!-- &&
              problemeForm.get('nom').errors.sansEspaces &&
              problemeForm.get('nom').errors.longueurMinimum -->
            <span class="form-text" *ngIf="(problemeForm.get('nom').touched || 
                  problemeForm.get('nom').dirty) &&
                  problemeForm.get('nom').errors">
              <span *ngIf="!problemeForm.get('nom').errors.sansEspaces">
                <small class="text-muted">
                  Merci de saisir votre nom.
                </small>
              </span>
              <span *ngIf="!problemeForm.get('nom').errors.longueurMinimum">
                <small class="text-muted">
                  Veuillez entrer plus de caractères.
                </small>
              </span>
            </span>
          </div>
          
        </div>

        <div class="form-group row">
          <label for="noProblemeId" class="col-md-2 col-form-label text-right">Problème :</label>
          <div class="col-sm-10">
            <select class="form-control"
            id="noProblemeId"
            formControlName="noProbleme">
              <option value="">Sélectionner un type de problème (obligatoire)</option>
              <option *ngFor="let cat of problemeProduits" [value]="cat.id">{{cat.descriptionProbleme}}</option>
          </select>
          <span class="form-text" *ngIf="(problemeForm.get('noProbleme').touched || 
            problemeForm.get('noProbleme').dirty) &&
            problemeForm.get('noProbleme').errors">
          <span *ngIf="problemeForm.get('noProbleme').errors.required">
            <small class="text-muted">
              Veuillez sélectionner un problème.
            </small>
          </span>
          </span>
          </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2 col-form-label text-right"></label>
            <div class="col-sm-10">
              Notifiez-moi pour le statut de ma commande:
            </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 col-form-label text-right"></label>
          <div class="col-sm-10">

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="notificationID" formControlName="notification" value="PasMeNotifier" checked="">
          <label class="form-check-label" for="inlineRadio1">Ne pas me notifier</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="notification" id="notificationID" value="MeNotifierCourriel">
          <label class="form-check-label" for="inlineRadio2">Par courriel</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" formControlName="notification" id="notificationID" value="MeNotifierMessagerie">
          <label class="form-check-label" for="inlineRadio3">Par message texte</label>
        </div>

      </div>
      </div>

        <div class="form-group row">
          <label for="noTelephoneId" class="col-md-2 col-form-label text-right">Téléphone (SMS):</label>
          <div class="col-sm-10">
              <input type="form-control"
              class="form-control"
              id="telephoneId"
              formControlName="telephone"
              type="text"
              placeholder="Entrez 10 chiffres seulement. Par exemple:514111888"
              [ngClass]="{'is-invalid':(problemeForm.get('telephone').touched ||
            problemeForm.get('telephone').dirty) &&
            problemeForm.get('telephone').errors,
            'is-valid': (problemeForm.get('telephone').touched ||
            problemeForm.get('telephone').dirty) &&
            !problemeForm.get('telephone').errors }"
              />
              <span class="form-text" *ngIf="(problemeForm.get('telephone').touched || 
            problemeForm.get('telephone').dirty) &&
            problemeForm.get('telephone').errors">
            <span *ngIf="problemeForm.get('telephone').errors.required">
                <small class="text-muted">
                  Merci d'entrer votre numéro de téléphone.
                </small>
              </span>
              <span *ngIf="problemeForm.get('telephone').errors.pattern">
                  <small class="text-muted">
                    Merci d'entrer seulement des chiffres.
                  </small>
                </span>

                <span *ngIf="problemeForm.get('telephone').errors.maxlength">
                    <small class="text-muted">
                      Veuillez entrer moins de caractères.
                    </small>
                  </span>
            
            <!-- <span *ngIf="problemeForm.get('telephone').errors">
                <small class="text-muted">
                  SVP entrer un format valide.
                </small>
              </span> -->
              <span *ngIf="problemeForm.get('telephone').errors.minlength">
                  <small class="text-muted">
                    Veuillez entrer plus de caractères.
                  </small>
                </span>
            </span>

          </div>
        </div>

        <div class="form-group row">
          <label for="noCourrielId" class="col-md-2 col-form-label text-right">Adresse courriel :</label>
          <div class="col-sm-10" formGroupName="courrielsGroup">
              <input type="form-control"
              class="form-control"
              id="courrielId"
              formControlName="courriel"
              type="text"
              placeholder="Courriel (obligatoire si notification par courriel)"
              [ngClass]="{'is-invalid':(problemeForm.get('courrielsGroup.courriel').touched ||
            problemeForm.get('courrielsGroup.courriel').dirty) &&
            problemeForm.get('courrielsGroup.courriel').errors,
            'is-valid': (problemeForm.get('courrielsGroup.courriel').touched ||
            problemeForm.get('courrielsGroup.courriel').dirty) &&
            !problemeForm.get('courrielsGroup.courriel').errors }"
              />

            <span class="form-text" *ngIf="(problemeForm.get('courrielsGroup.courriel').touched || 
            problemeForm.get('courrielsGroup.courriel').dirty) &&
            problemeForm.get('courrielsGroup.courriel').errors">
        <span *ngIf="problemeForm.get('courrielsGroup.courriel').errors.required">
          <small class="text-muted">
            Merci d'entrer votre adresse électronique.
          </small>
        </span>
        <span *ngIf="problemeForm.get('courrielsGroup.courriel').errors.email">
            <small class="text-muted">
              SVP entrer un format valide (aaa@bbb).
            </small>
          </span>
      </span>
              
              

          </div>
        </div>

        <div class="form-group row">
          <label for="noConfCourrielId" class="col-md-2 col-form-label text-right">Confirmer courriel :</label>
          <div class="col-sm-10" formGroupName="courrielsGroup">
              <input type="form-control"
              class="form-control"
              id="confCourrielId"
              formControlName="confCourriel"
              type="text"
              placeholder="Entrez à nouveau le courriel (obligatoire si notification par courriel)"
              [ngClass]="{'is-invalid':(problemeForm.get('courrielsGroup.confCourriel').touched ||
            problemeForm.get('courrielsGroup.confCourriel').dirty) && 
            !problemeForm.get('courrielsGroup.confCourriel').valid || 
            problemeForm.get('courrielsGroup').errors?.courrielConfirmation,
            'is-valid': (problemeForm.get('courrielsGroup.confCourriel').touched ||
            problemeForm.get('courrielsGroup.confCourriel').dirty) &&
            !problemeForm.get('courrielsGroup.confCourriel').errors }"/>

            <span class="form-text" *ngIf="(problemeForm.get('courrielsGroup.confCourriel').touched ||
            problemeForm.get('courrielsGroup.confCourriel').dirty) && 
            problemeForm.get('courrielsGroup.confCourriel').errors  || problemeForm.get('courrielsGroup').errors">
              <span *ngIf="problemeForm.get('courrielsGroup.confCourriel').errors?.email">
                <small class="text-muted">
                    
                </small>
              </span>

              <span *ngIf="problemeForm.get('courrielsGroup.confCourriel').errors?.required">
                  <small class="text-muted">
                    Veuillez entrer un courriel de confirmation.
                  </small>
                </span>

                <span *ngIf="problemeForm.get('courrielsGroup').errors?.courrielConfirmation">
                    <small class="text-muted">
                      Le courriel de confirmation n'est pas le même que le courriel.
                    </small>
                  </span>
          </span>
          </div>
        </div>
        <!-- Zone de texte # Unité  -->        
<div class="form-group row">          
	<label for="noUniteId" class="col-md-2 col-form-label text-right"># Unité :</label>
	<div class="col-md-10">
	  <input class="form-control" 
	  id="noUniteId" 
	  type="text" 
	  placeholder="Numéro de l'unité si connu" 
	  formControlName="noUnite" />
	</div>
  </div>      

<!-- Zone de texte DESCRIPTION DU PROBLÈME  -->        
<div class="form-group row">          
	<label for="descriptionProblemeId" class="col-md-2 col-form-label text-right">Description du problème :</label>
	<div class="col-md-10">
	  <textarea class="form-control" 
	  rows="3"              
	  id="descriptionProblemeId" 
	  type="text" 
	  placeholder="Décrire le propblème ici (obligatoire)" 
	  formControlName="descriptionProbleme"            
	  [ngClass]="{'is-valid': (problemeForm.get('descriptionProbleme').touched || problemeForm.get('descriptionProbleme').dirty) &&
			problemeForm.get('descriptionProbleme').valid, 
			'is-invalid': (problemeForm.get('descriptionProbleme').touched || problemeForm.get('descriptionProbleme').dirty) &&
			!problemeForm.get('descriptionProbleme').valid }"></textarea>

	  <span class="form-text" *ngIf="(problemeForm.get('descriptionProbleme').touched || 
			problemeForm.get('descriptionProbleme').dirty) && 
			problemeForm.get('descriptionProbleme').errors">

			<span *ngIf="problemeForm.get('descriptionProbleme').errors.required">
				<small  class="text-muted">
				   N'oubliez pas de décriree le plus clairement possible le problème rencontré.
				</small>
			</span> 

			<span *ngIf="problemeForm.get('descriptionProbleme').errors.minlength">
			  <small  class="text-muted">
				La description du problème doit comporter plus de 5 caractères.
			  </small> 
			</span>       
	  </span>
	</div>
  </div>

<!-- Zone de texte # Unité  -->        
<div class="form-group row">          
	<label for="dateProblemeId" class="col-md-2 col-form-label text-right">Date :</label>
	<div class="col-md-10">
	  <input class="form-control" 
	  id="dateProblemeId" 
	  type="text" 
	  formControlName="dateProbleme" />
	</div>
  </div> 

       
      </form>
      <!-- <a href="#" class="btn btn-primary" ><fa name="save" animation=""></fa>Sauvegarder</a> -->
      <div class="form-group row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
        <span>
        <button class="btn btn-primary"
        type="submit"
        [disabled]="!problemeForm.valid">
        <fa name="save"></fa>
        &nbsp;&nbsp;Sauvegarder
        </button>
        </span>
        </div>
        </div>
    </div>
      
    </div>
  </div>

